{% extends 'base.html' %} {% block content %}
<body
  class="bg-gray-900 text-white flex items-center justify-center min-h-screen"
>
  <div class="w-full max-w-md bg-gray-800 rounded-xl shadow-lg p-4">
    <h2 class="text-xl font-bold mb-4 text-center">Chatbot</h2>

    <div
      id="chatbox"
      class="h-80 overflow-y-auto bg-gray-700 rounded p-3 mb-4 space-y-2"
    >
      <!-- Mensagem de boas-vindas -->
      <div class="p-2 rounded bg-gray-600">
        Fala, FURIOSO! Eu sou o assistente da FURIA. Como posso te ajudar?
      </div>

      {% if user_message %}
      <!-- Mensagem do usuário -->
      <div class="p-2 bg-blue-600 text-right ml-auto rounded">
        {{ user_message }}
      </div>

      <!-- Resposta do bot -->
      {% if answer is string %}
      <div class="p-2 bg-gray-600 text-left rounded">{{ answer }}</div>
      {% else %}
      <div class="p-2 bg-gray-600 text-left rounded">
        <div class="p-2 bg-gray-600 text-left rounded">
          {% if answer.players or answer.benched or answer.coach %} {% if
          answer.players %}
          <div>
            <strong>Jogadores:</strong> {{ answer.players | join(', ') }}
          </div>
          {% endif %} {% if answer.benched %}
          <div><strong>Banco:</strong> {{ answer.benched | join(', ') }}</div>
          {% endif %} {% if answer.coach %}
          <div><strong>Treinador:</strong> {{ answer.coach | join(', ') }}</div>
          {% endif %} {% elif answer.news %}
          <div><strong>Últimas notícias:</strong></div>
          <ul class="list-disc pl-5">
            {% for item in answer.news['Latest news'] %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% elif answer.results %}
          <div><strong>Últimos resultados:</strong></div>
          <ul class="list-disc pl-5">
            {% for item in answer.results %}
            <li>
              {{ item.team_1 }} vs {{ item.team_2 }} - Score: {{ item.score_1 }}
              x {{ item.score_2 }} - {{ item.format }} - Campeonato: {{
              item.tournament }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div>Nenhuma informação encontrada.</div>
          {% endif %}
        </div>
      </div>
      {% endif %} {% endif %}
    </div>

    <!-- Formulário enviado via GET -->
    <form method="get" action="/chat" class="flex">
      <input
        id="message-input"
        name="user_message"
        type="text"
        class="flex-1 px-4 py-2 rounded-l bg-gray-600 text-white focus:outline-none"
        placeholder="Digite sua mensagem..."
        required
      />
      <button
        type="submit"
        class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-r font-semibold"
      >
        Enviar
      </button>
    </form>
  </div>
</body>
{% endblock %}
